*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@keyframes open {
  100% {
    left: 0;
  }
}

@keyframes close {
  100% {
    left: -70vw;
  }
}

form{
  width: 60%;
}

select{
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}

option{
  border: 1px solid black;
}
